* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: clamp(288px, 288px + 10vw, 288px);
    height: 100vh;
    display: grid;
    place-items: center;
}

canvas {
    border: 1px solid black;
    display: block;
}

.screen {
    position: relative;
    margin: 0 auto;
}

.hide {
    display: none;
}